<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Go to <a href="http://izzathazmi.epizy.com/"><em>http://izzathazmi.epizy.com/</em></a> for more info about the creator of this website. 
  This website is made according to the guidance from The Ruby on Rails Tutorial, 6th Edition by Michael Hartl that can be found at<a href="https://www.learnenough.com/">Learn Enough</a> using
  <a href="https://rubyonrails.org//">Ruby on Rails</a>.
 
</p>
